cluster-files/install-config.yaml
cluster-files/install-config.yaml.bkp
downloads/id_ed25519
downloads/id_ed25519.pub
downloads/oc
downloads/openshift-install
downloads/pull-secret
downloads/rhcos.iso
downloads/rootfs.img
cluster-files/.openshift_install.log
cluster-files/.openshift_install_state.json
cluster-files/auth/
cluster-files/bootstrap.ign
cluster-files/master.ign
cluster-files/metadata.json
cluster-files/worker.ign
