cluster-files/install-config.yaml
cluster-files/install-config.yaml.bkp
downloads/id_ed25519
downloads/id_ed25519.pub
downloads/oc
downloads/openshift-install
downloads/pull-secret
downloads/rhcos.iso
downloads/rootfs.img
cluster-files/.openshift_install.log
cluster-files/.openshift_install_state.json
cluster-files/auth/
cluster-files/bootstrap.ign
cluster-files/master.ign
cluster-files/metadata.json
cluster-files/worker.ign
bootstrap/bootstrap.img
master/master0/master0.img
master/master1/master1.img
master/master2/master2.img
downloads/.openshift_install.log
worker/worker0/worker0.img
worker/worker1/worker1.img
downloads/pull-secret.json
registry/auth.json
registry/auth/
registry/cacert.pem
registry/certs/
registry/cfssl
registry/cfssljson
registry/data/
registry/dry-run.txt
